{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <style>
    #logo {
      height:50px;
      margin-right:1%;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
    <img id="logo" src="https://scontent.flim21-2.fna.fbcdn.net/v/t1.0-9/58711623_291181928450310_5112829485493780480_o.png?_nc_cat=104&_nc_sid=09cbfe&_nc_eui2=AeGNQ7ZTaXvu_dBkhQd8bIBjOPVLxdJ-Ov049UvF0n46_cP6FWQEmrBdPSC_ZbnaSw2dchSfL0YonWv-bXdZq4-h&_nc_ohc=i64LglvEcVoAX8Ry2cN&_nc_ht=scontent.flim21-2.fna&oh=84cfbca409799b9f126cffba9cc96111&oe=5EF8B409">
    <a class="navbar-brand" href="#">Adathink Lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  {% if message %}
      <div class="alert alert-{{message.type}}" role="alert">
        {{message.message}}
      </div>
  {% endif %}
  
  <div class="col-12 p-2" style="display:flex;flex-wrap: wrap;">
    <form class="col-10 p-2 col-sm-12" method="GET">
      <select class="custom-select" name="hospital" id="hospital" onchange="filter(this)">
        {% for hospital in hospitales %}
          <option value="{{ hospital.id }}">{{ hospital.name }}</option>
        {% endfor %}
      </select>
      <select class="custom-select" name="ambiente" id="ambiente">
      </select>
      <script>
        window.onload=()=>{
          filter(document.getElementById("hospital"))
        }
        async function filter(el){
          console.log(el.value)
          let ambientes_request = await fetch("/ajax/ambiente?hospital="+el.value)
          let data = await ambientes_request.json()
          let ambientes = data.data
          innerOption(ambientes, document.getElementById("ambiente"))
        }

        function innerOption(array, el){
          let text = ""
          for(let ar of array){
            text+=`<option value="${ar.id}">${ar.name}</option>`
          }
          el.innerHTML = text
        }
      </script>
      <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
    {% if respiradores_not_have %}
      <div class="col-2 p-2 col-sm-12">
        <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Asignar respirador</button>
      </div>
    {% endif %}
  </div>
  <br/>
  {% if respiradores %}
    <form class="col-12" method="GET" action="/dashboard/preview">
      {% for respirador in respiradores %}
        <label class="card" style="width: 18rem;display: inline-block;">
          <img class="card-img-top" src="{{respirador.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{respirador.name}}</h5>
            <input type="checkbox" name="respiradores" value="{{respirador.id}}" > <span class="card-text">Codigo : {{respirador.id}}</span>
            <br>
          </div>
        </label>
      {% endfor %}
      <br/>
      <br/>
      <button class="btn btn-primary" type="submit">Listar</button>
    </form>
  {% else %}
    <div class="container col-2 col-offset-5">
      <center>
        No hay resultado
      </center>
    </div>
  {% endif %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar respirador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="col-10 p-2 col-sm-12" method="POST">
          {% csrf_token %}
          <select class="custom-select" name="respirador" id="respirador_not_have">
            {% for respirador in respiradores_not_have %}
              <option value="{{ respirador.id }}">{{ respirador.name }} - Codigo {{ respirador.id }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary" type="submit">Asignar</button>
        </form>
      </div>
      {% comment %} <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> {% endcomment %}
    </div>
  </div>
</div>




{% endblock %}


